elm-stuff/
testAppOriginal
testApp/index.html
testApp/dist/index.html
elm-package.json
testApp/dist/Main.js
reader/dist/Main.js
reader/Main.js
reader/resources/
reader/dist/Main.min.js
dist/50x.html
dist/500x.html
elm
dist/Main.min.js.gz
.vscode
jim/
.idea/
