<style>

     p, h2 {
          padding: 5px;
          margin: 0;
          line-height: 1.4;
        }
          asciidoc-text {
          white-space: normal;
        }


    .mm-code {font-family: "Courier New"
      , Courier, monospace; padding: 8px; background-color: #e5e5e5; font-size: 11pt;
    }
    .mm-inline-code {font-family: "Courier New"
      , Courier, monospace; padding-left: 5px; padding-right: 5px;background-color: #e5e5e5; font-size: 11pt;
    }
    .mm-image {width: 100%}
    .mm-h1 {font-size: 18pt}
    .mm-h2 {font-size: 16pt}
    .mm-h3 {font-size: 12pt}
    .mm-h4 {font-size: 10pt}
    .mm-h5 {font-size: 10pt}
    .mm-olist-item {
        list-style: none;
      margin-bottom: 8px;
      padding-left: 18px;
      text-indent: -18px;
        width: inherit, 90%;
        white-space: normal;
    }
    .mm-ulist-item {
      margin-bottom: 8px;
      padding-left: 18px;
      text-indent: -18px;
        white-space: normal;
    }
    .mm-quotation {
        margin-left: 24px;
        margin-top: 18px;
        margin-right: 36px;
        margin-bottom: 18px;
        line-height: 18px;
        white-space: normal;
        width: inherit, 90%;
    }
    .mm-poetry {
        margin-left: 24px;
        margin-top: 18px;
        margin-right: 36px;
        margin-bottom: 18px;
    }
    .mm-closed-block {
        margin-bottom; 12px;
        width: inherit;
        white-space: normal;
    }
    .mm-closed-block .mm-inlinelist {
        margin-bottom: 12px;
        line-height: 18px;
    }
    .mm-poetry .mm-inlinelist .mm-inlinelist {
        margin-bottom: 4px;
    }
    .mm-error-message {
        color: red; margin-bottom: 12px;
    }
    .mm-code {
        font: 16px courier; background-color: #eee;
    }

</style>